/********************************
            DEFAULTS
********************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    max-height: 100%;
    background-color: #4A5360;
    font-family:'Open Sans', sans-serif;
    font-weight: 2rem;
}

html,
body {
    max-height: 100%;
}

h2,
h3,
p {
    padding: 0.2rem 2rem;
}


/********************************
              PAGES
********************************/
[data-role="page"] {
    display: none;
    color: #bbb;
    width: 100%;
}

[data-role="content"] {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
}

[data-role="content"] p:last-child {
    padding-bottom: 3rem;
}

.apptitle {
    height: 3rem;
    background: #fff;
    color: #000;
}

.apptitle h1{
    font-family:'Open Sans', sans-serif;
    font-weight: 1rem;
    font-size: 1.5rem;
    text-shadow: 2px 2px 10px #aaa;
    color: green;
    padding-top: 0.5rem;
}

div#list-view {
    display: block;
}


/********************************
              TABS/NAVBAR
********************************/
ul.tabs {
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #c9ccd1;
    z-index: 4;
}

.tabs li.tab {
    margin:0 0 0 0;
    float: left;
    display: inline-block;
    width: 50%;
}

.tabs li.tab a {
    display: block;
    margin: 0;
    font-size: 1.3rem;
    line-height: 4rem;
    height: 4rem;
    color: gray;
    text-decoration: none;
    border: none;
    background-color: #fff;
    text-align: center;
}

.tabs li.tab a.active {
    color: green;
    background-color: #fff;
}

.tabs li.tab a:first-child {
    border-right: 1px solid gray;
}


/*************************************
                LIST VIEW
*************************************/
ul.list-view {
    list-style: none;
    font-size: 0px;
    padding: 0;
    margin: 20px 0 0 -15px;
}

ul.list-view li {
    display: inline-block;
    padding: 10px;
    margin: 30px 0 6% 6%;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.grid-columns li {
    width: 180px;
    height: 130px;
    float: left;
}

ul.grid-columns li:first-child{
    margin: 20px 20px 10px 20px;
}
ul.grid-columns li:nth-child(2n){
    margin: 20px 20px 10px 20px;
}

ul.grid-columns li:nth-child(2n+1){
    margin: 20px 0 10px 0;
}

.delete {
    font-size: 1.1rem;
    width: 180px;
    height: 40px;
    background-color: #fff;
    border: none;
}


/*************************************
                MODAL
*************************************/
[data-role=overlay] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.82);
    display: none;
}

[data-role=modal] {
    background-color: white;
    padding: 8px;
    position: fixed;
    top: 20%;
    left: 20%;
    z-index: 15;
    display: none;
}


/*************************************
              TAKE PHOTO
*************************************/
button {
    padding: 0.5rem 2rem;
}

#photo_c {
    width: 600px;
    height: 400px;
    background-color: #fff;
    border: none;
    margin: 1rem 0 0 0;
}

#thumb_c {
    display: inline-block;
    margin:1.5rem 0 0 0;
    vertical-align: left;
    width:18%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


/*************************************
                 FORM
*************************************/
.form {
    background-color: white;
    float: right;
    height: 100vh;
    width: 300px;
    padding: 20px;
}

.pure-form input[type="text"],
.pure-form select,
.pure-form textarea {
    padding: 0.5em 0.6em;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pure-form input[type="text"]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
    outline: 0;
    border-color: gray;
}

.pure-form label {
    margin: 0.5em 0 0.2em;
}

.pure-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}

.pure-form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid gray;
}

.pure-form-stacked input[type="text"],
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
    display: block;
    margin: 0.25em 0;
}

.pure-form-stacked input:not([type]) {
    display: block;
    margin: 0.25em 0;
}

#text {
    font-size: 15px;
    padding: 10px 20px 10px 10px;
    margin: 0 0 20px 0;
}

#top,
#bottom,
#addText,
#savePix {
    margin-bottom: 20px;
}

#addText,
#savePix {
    width: 100%;
    border: none;
}

#addText,
#savePix {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.2rem;
    background: green;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#addText:hover,
#savePix:hover {
    background: gray;
    text-decoration: none;
}

input[type=radio] {
    background-color: #4A5360;
    border: none;
}

.btn {
    font-size: 15px;
    width: 600px;
    height: 40px;
    background-color: white;
    border: none;
    margin: 2px 0 0 0;
}